<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/normalizer.css'>
    <link rel='stylesheet' href='/style.css'>
    <title>ClanMarkr</title>
  </head>

  <body>
    <header>
      <h1><span class='logo'><center> ClanMarkr &ndash; Where your bookmarks live.</center></span></h1>
    </header>

    <nav>
      <ul>
        <li><a href='/bookmarks'>Your bookmarks</a></li>
        <li><a href='/bookmarks/new'>Add new bookmark</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>