body {

  font-family: 'Abril Fatface', sans-serif;
  max-width: 100%;
  background-color: orange;
  color: purple;

}

header {

  float: left;
  margin: 0;
  padding: 5px 0;
  width: 100%;
  background-color: purple;
  border-color: green;

}

.logo {

  text-align: center;
  margin: 0;

}

h1 {

  margin: 15px 0;
  font-size: 1.5em;
  color: white;

}

h2 {

  font-size: 1em;
  color: white;

}

nav {

  text-align: center;
  padding: 10px 0;
  margin: 20px 0;
  list-style: none;
  background-color: green;

}

nav ul li {

  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

ul li, ul, li, a {

  text-decoration: none;
  list-style: none;
  display: inline-block;

}